$grisTitulos : #424242;
$grisClaroFecha: #5f6368;
$grisTexto: #414549;
$azul: #4285f4;
$none: none;
$center: center;
$padding-right: 5%;
$font-weight: 500;
$border-top: 4px solid #4285f4;
$margin: 5%;
$cien-porciento: 100%;
$inline-block: inline-block;
$font-size: 1.5rem;
$font-style: normal;
$letter-spacing: -.5px;
$float: left;
$font-family: 'Roboto Mono', sans-serif;
$blue: #4285f4;
$pointer: pointer;