$gray-title : #424242;
$gray-date: #5f6368;
$gray-text: #414549;
$none: none;
$center: center;
$padding-right: 5%;
$font-weight-title: 500;
$font-weight-p: 400;
$border-top: 4px solid #4285f4;
$margin: 5%;
$inline-block: inline-block;
$font-size-title: 1.5rem;
$font-size-p: 1rem;
$font-style: normal;
$letter-spacing: -.5px;
$float: left;
$font-family-title: 'Roboto Mono', sans-serif;
$font-family-date: 'Roboto Mono', monospace;
$blue: #4285f4;
$pointer: pointer;
$line-height-title: 32px;
$line-height: 24px;
$font-family-p: 'Product Sans', Arial, sans-serif;
