@import "variables";
@import "grid";
@import "mixin";

/*Estilo secciones*/

header {
	margin: $margin;
	text-align: $center;
	& .logo {
		width: 20%;
	}
	& .search {
		float: right;
	}
	.menu>li {
		list-style: $none;
		display: $inline-block;
		padding-right: $padding-right;
		font-size: 2vh;
		& a {
			text-decoration: $none;
			color: $gray-text;
			font-weight: $font-weight-title;
			text-transform: uppercase;
			cursor: $pointer;
		}
	}
}

/* Estilo de titulos, parrafos, fechas y etiquetas*/

h1 {
	color: $gray-title;
}

h3 {
	@include title;
}

.gallery {
	& a {
		color: $blue;
		text-decoration: $none;
	}
}

.date {
	@include date;
}

.paragraph {
	@include paragraph;
}

/* Border-top blue*/

.new {
	border-top: $border-top;
}
