@import "variables";
@import "grid";
@import "mixin";

/*Estilo secciones*/

header {
	margin: $margin;
	text-align: $center;
	& .logo {
		width: 20%;
	}
	& .search {
		float: right;
	}
	.menu>li {
		list-style: $none;
		display: $inline-block;
		padding-right: $padding-right;
		font-size: 2vh;
		& a {
			text-decoration: $none;
			color: $grisTexto;
			font-weight: $font-weight;
			text-transform: uppercase;
			cursor: $pointer;
		}
	}
}


/* section 2: News, style*/


/* section Gallery*/

h3 {
	@include title;
}

.gallery {
	& a {
		color: $blue;
		text-decoration: $none;
	}
}


/* Border-top blue*/

.new {
	border-top: $border-top;
}
